/* Mobile first approach */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}


:root {
    /* Colors */
    --de-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-red: hsl(0, 6%, 24%);
    --white-linear: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
    --red-linear: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /* Font weight */
    --font-light: 300;
    --font-medium: 400;
    --font-heavy: 600;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: var(--white-linear);
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    transform: scale(0.8, 0.8);
}

/* Hero img takes up 100% of its container */
.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img-desktop {
    display: none;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.35em;
    margin: 40px 0 20px;
    font-size: 2.2rem;
}

/* Each word is made "block" so that they start on new lines */
.heading-word-1,
.heading-word-2,
.heading-word-3 {
    display: block;
}

.heading-word-1 {
    color: var(--de-red);
    font-weight: var(--font-light)
}

.heading-word-2,
.heading-word-3
{
    font-weight: var(--font-heavy);
}

.para {
    color: var(--de-red);
    padding: 0 20px;
    text-align: center;
    font-size: 0.82em;
}

.form-control {
    position: relative;
}

.submit {
    display: flex;
    height: 40px;
    margin-top: 20px;
    margin: 20px auto;
    position: relative;
}

.form-control small {
    visibility: hidden;
    display: block;
    color: red;
    position: absolute;
    top: 45px;
    left: 10px;
}

button {
    position: absolute;
    top: 0px;
    right: 0;
    width: 60px;
    height: inherit;
    background-image: var(--red-linear);
    border-radius: 100vmax;
    border: none;
    display: flex;
}

button img {
    margin: auto;
}

#email {
    width: 250px;
    border: 1px solid var(--de-red);
    border-radius: 100vmax;
    padding-left: 10px;
    background-color: transparent;
}

.form-control.success #email {
    border-color: #2ecc71;
}

.form-control.error #email {
    border-color: #e74c3c ;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}

#email::placeholder {
    color: var(--de-red);
}

#email:focus {
    outline: 1px solid var(--soft-red);
}

#Submit {
    background-image: var(--red-linear);
    margin: 0 0 0 -250%;
    padding: 100% 200%;
    border-radius: 100vmax;
}

#Submit:hover {
    background-image: linear-gradient(135deg, hsl(0, 79%, 92%), hsl(0, 100%, 86%));
}

.arrow {
    margin: auto;
}

footer {
    margin: 40px auto 0;
    padding: 20px;
    text-align: center;
    font-weight: var(--font-light);
}

.footer-p {
    color: var(--de-red);
}

.footer-a,
.footer-a:visited {
    color: black;
    text-decoration: underline var(--de-red);
}

@media (min-width: 424px) {
    #email {
        width: 300px;
    }
}
@media (min-width: 767px) {
    body {
        display: grid;
        grid-template-rows: 100px 1fr 100px;
        grid-template-columns: 1fr 450px;
        grid-template-areas: 'header img'
        'main img'
        'footer img';
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #email {
        width: 250px;
    }

    .hero {
        height: 100vh;
        grid-area: img;
    }

    /* Hero img for mobile is hidden, and img for desktop is displayed */
    .hero-img {
        display: none;
    }

    
    .hero-img-desktop {
        display: block;
        height: 100%;
        width: 100%;
    }

    .email-address {
        margin: 30px 10px 0;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1023px) {
    body {
        grid-template-rows: 80px 1fr 80px;
        grid-template-columns: 1fr 550px;
        font-size: 20px;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        padding-left: 85px;
    }

    main {
        padding: 0 100px;
        align-items: flex-start;
    }

    form {
        margin-left: 0;
    }

    #email {
        width: 300px;
    }

    .heading,
    .para {
        padding: 0;
        text-align: start;
    }

    .heading {
        font-size: 3rem;
    }

    .email-address {
        margin: 30px 0 0 -10px;
        width: 70%;
    }


    footer {
        padding-top: 10px;
        padding-left: 100px;
        text-align: start;
        font-size: 0.9rem;
    }
}

@media (min-width: 1439px) {
    body {
        grid-template-columns: 1fr 600px;
        grid-template-rows: 80px 1fr 100px;
        font-size: 1.5em;
    }

    .email-box {
        padding: 20px 10px;
        border-radius: 40px;
    }

    .btn {
        border-radius: 40px;
    }
}


